*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/*.gitignore
/gradle/wrapper
/app/lib/utilslib/*.gitignore
/.idea
/app/lib/baselib/*.gitignore
/app/demo/.gitignore
/gradle
